/*Font downloaded from <div>Icons made from <a href="https://www.onlinewebfonts.com/icon">svg icons</a>is licensed by CC BY 4.0</div>*/
@font-face {
    font-family: 'AvenirNext-UltraLight';
    src: url('/fonts/AvenirNext-UltraLight.ttf')  format('truetype');
  }
  @import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,700&family=Indie+Flower&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap');
/*Page styling*/
  html, body{
    background: linear-gradient(to right, #7ebfcd 10%, #c0eaf4 90%);
    background-repeat:no-repeat;
    font-family: 'AvenirNext-UltraLight';
    scroll-behavior: smooth;
    color: #000000;
    scroll-padding-top: 4rem;
}
h2{
  text-align: center;
  font-family: 'Bodoni Moda', serif;
  text-transform: uppercase;
  font-size: 50px;
}

.story,
.products,
.stockist,
.contact{
  margin: 33px auto;
  font-family: 'Playfair Display', serif;
  font-size: 20px;
}

strong{
  font-size: 30px;
}

.border{
  background-image: url(../media/top-view-green-leaves-veed-remove-background.png);
  background-repeat: repeat-x;
  width: 100%;
  height: 133px;
}

/*Nav Bar div styling*/
nav, ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: linear-gradient(to right, #7ebfcd 10%, #c0eaf4 90%);
  position: sticky;
  top: 0;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  z-index:100;
  display: inline-flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 86px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

a.active {
  background-color: #4b4d4b;
}

.nectar-logo img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*Story div styling*/
.story{
  max-width: 90%;
}

.story-wrapper {
  margin-top: 100px;
  max-width: 90%;
  margin: 30px auto;
  display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.story-left{
  width: 40%;
  position: relative;
  left: calc(-82vw + 40%);
}
.story-left img{
  width: 750px;
}

.story-left-text{
  width: 60%;
  position: relative;
  left: calc(-50vw + 60%);
  text-wrap: wrap;
}

.story-right img{
width:700px;
height:450px;
}

.story-right{
  width: 40%;
  position: relative;
  right: calc(-32vw + 40%);
}

.story-right-text{
  width: 60%;
  position: relative;
  right: calc(-94vw + 61%);
  text-wrap: wrap;
}

/*Product div styling*/
.wrapper {
  margin-top: 100px;
  max-width: 90%;
  margin: 0 auto;
}

.card {
  top: 60px;
  position: sticky;
  border: 1px solid #ccc;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  background-color: white;
  color: #333;
  padding: 40px;
  border-radius: 10px;
  margin-bottom: 20px;
  display: inline-flex;
  align-items: center;
  height: 390px;
  width: 90%;
  
  h2 {
    padding: 0;
  }

  span {
    display: block;
    font-size: 14px;
    color: #0c4eb9;
  }
}

.card h2{
  text-transform: none !important;
  font-size: 40px;
}

@for $i from 1 through 8 {
  .card:nth-child(#{$i}n) {
    top: $i * 20px;
  }
}

.left{
  width: 30%;
  position: relative;
  left: calc(-20vw + 30%);
}
.right{
  width: 70%;
  position: relative;
  right: calc(-50vw + 70%);
}

.left img{
  transition: transform .8s;
}

.left img:hover{
  -ms-transform: scale(1.3); /* IE 9 */
  -webkit-transform: scale(1.3); /* Safari 3-8 */
  transform: scale(1.3); 
}

/*Stockist div styling*/
.stockists{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin:auto;
}

.logo img{
  height: 400px;
  width: 400px;
  padding: 40px;
}

#whiteelephant img,
#wildwoods img{
  border-radius: 50%;
}

#coles img{
  height: 150px !important;
}

/*Contact div styling*/
.contact-wrapper {
  margin-top: 100px;
  max-width: 500px;
  margin: 0 auto;
}

.contact-card {
  top: 60px;
  position: sticky;
  border: 1px solid #ccc;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  background-color: white;
  color: #333;
  padding: 40px;
  border-radius: 10px;
  margin-bottom: 20px;
}

#name, 
#email,
#reason,
#message{
  width: 400px;
}

#thank-you-message {
  display: none;
}

#thank-you-message.show {
  display: block;
}

form{
  display: block;
}
form.hide{
  display: none;
}

/*Footer div styling*/

footer{
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 33px auto;
  font-size: 20px;
  position: absolute;
  margin: 0px 0 0 -10px;
  padding: 10px;
  background-color: #4b4d4b;
  color: #ccc;
}

footer ul{
  list-style-type: none;
}

table{
  width:88%;
  text-align: center;
  text-wrap: wrap;
  table-layout: fixed;
}

td, th{
  padding: 5px;
}

.certifications{
  display: inline-flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: stretch;
  left: 88%;
}

.Product-of-Australia{
  width: 133px;
}
