/*Font downloaded from <div>Icons made from <a href="https://www.onlinewebfonts.com/icon">svg icons</a>is licensed by CC BY 4.0</div>*/
@font-face {
    font-family: 'AvenirNext-UltraLight';
    src: url('/fonts/AvenirNext-UltraLight.ttf')  format('truetype');
  }
  @import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,700&family=Indie+Flower&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap');
/*Page styling*/
  html, body{
    background: linear-gradient(to right, #7ebfcd 10%, #c0eaf4 90%);
    background-repeat:no-repeat;
    font-family: 'AvenirNext-UltraLight';
    scroll-behavior: smooth;
    color: #000000;
    scroll-padding-top: 4rem;
}

/*Loader styling*/
.container{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  background: linear-gradient(to right, #7ebfcd 29%, #c0eaf4 59%);
  z-index: 9999;
}

.loader{
  height: 100%;
  width: 100%;
  background-image: url(../media/nectar.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

h2{
  text-align: center;
  font-family: 'Bodoni Moda', serif;
  text-transform: uppercase;
  font-size: 50px;
}

.story,
.products,
.stockist,
.contact{
  margin: 33px auto;
  font-family: 'Playfair Display', serif;
  font-size: 20px;
}

strong{
  font-size: 30px;
}

.border{
  background-image: url(../media/top-view-green-leaves-veed-remove-background.png);
  background-repeat: repeat-x;
  width: 100%;
  height: 133px;
}

/*Nav Bar div styling*/
#hamburger-menu{
  display: none;
}

nav, ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: linear-gradient(to right, #7ebfcd 10%, #c0eaf4 90%);
  position: sticky;
  top: 0;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  z-index:100;
  display: inline-flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 86px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

a.active {
  background-color: #4b4d4b;
}

.nectar-logo img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/*Story div styling*/
.story{
  max-width: 90%;
}

.story-wrapper {
  margin-top: 100px;
  max-width: 90%;
  margin: 30px auto;
  display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.story-left{
  width: 40%;
  position: relative;
  left: calc(-82vw + 40%);
}
.story-left img{
  width: 750px;
}

.story-left-text{
  width: 60%;
  position: relative;
  left: calc(-50vw + 60%);
  text-wrap: wrap;
}

.story-right img{
width:700px;
height:450px;
}

.story-right{
  width: 40%;
  position: relative;
  right: calc(-32vw + 40%);
}

.story-right-text{
  width: 60%;
  position: relative;
  right: calc(-94vw + 61%);
  text-wrap: wrap;
}

/*Product div styling*/
.wrapper {
  margin-top: 100px;
  max-width: 90%;
  margin: 0 auto;
}

.card {
  top: 60px;
  position: sticky;
  border: 1px solid #ccc;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  background-color: white;
  color: #333;
  padding: 40px;
  border-radius: 10px;
  margin-bottom: 20px;
  display: inline-flex;
  align-items: center;
  height: 390px;
  width: 90%;
  
  h2 {
    padding: 0;
  }

  span {
    display: block;
    font-size: 14px;
    color: #0c4eb9;
  }
}

.card h2{
  text-transform: none !important;
  font-size: 40px;
}

@for $i from 1 through 8 {
  .card:nth-child(#{$i}n) {
    top: $i * 20px;
  }
}

.left{
  width: 30%;
  position: relative;
  left: calc(-20vw + 30%);
}
.right{
  width: 70%;
  position: relative;
  right: calc(-50vw + 70%);
}

.left img{
  transition: transform .8s;
}

.left img:hover{
  -ms-transform: scale(1.3); /* IE 9 */
  -webkit-transform: scale(1.3); /* Safari 3-8 */
  transform: scale(1.3); 
}

/*Stockist div styling*/
.stockists{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin:auto;
}

.logo img{
  height: 400px;
  width: 400px;
  padding: 40px;
}

#whiteelephant img,
#wildwoods img{
  border-radius: 50%;
}

#coles img{
  height: 150px !important;
}

/*Contact div styling*/
.contact-wrapper {
  margin-top: 100px;
  max-width: 500px;
  margin: 0 auto;
}

.contact-card {
  top: 60px;
  position: sticky;
  border: 1px solid #ccc;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  background-color: white;
  color: #333;
  padding: 40px;
  border-radius: 10px;
  margin-bottom: 20px;
}

#name, 
#email,
#reason,
#message{
  width: 400px;
}

#thank-you-message {
  display: none;
}

#thank-you-message.show {
  display: block;
}

form{
  display: block;
}
form.hide{
  display: none;
}

/*Footer div styling*/

footer{
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 33px auto;
  font-size: 20px;
  position: absolute;
  margin: 0px 0 0 -10px;
  padding: 10px;
  background-color: #4b4d4b;
  color: #ccc;
}

footer ul{
  list-style-type: none;
}

.mobile-table{
  display: none;
}

table{
  width:88%;
  text-align: center;
  text-wrap: wrap;
  table-layout: fixed;
}

td, th{
  padding: 5px;
}

.certifications{
  display: inline-flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: stretch;
  left: 88%;
}

.product-of-australia{
  width: 133px;
  margin:4px;
}

.organic{
margin:4px;
}

/*MEDIA QUERIES*/
/*Desktop Media Query*/
@media screen and (max-width: 1367px){

.container {
    background: linear-gradient(to right, #7ebfcd 29%, #c0eaf4 71%);
}
.story, .products, .stockist, .contact {
  font-size: 17px;
}
strong {
  font-size: 27px;
}
.story-right img {
  width: 650px !important;
}

.story-left {
  left: calc(-81vw + 41%);
}
.story-left img {
  width: 600px;
}
.left {
  left: calc(-24vw + 30%);
}
.contact-card {
  padding: 38px;
}
table {
  font-weight: 700;
}
footer{
  font-weight: 600;
}
}

/*Tablet Media Query*/
@media screen and (max-width: 1024px){
  .nav-list {
    display: none;
  }
  #hamburger-menu{
    display: block;
    left: 23px;
    top: 28px;
    margin: 10px;
    position: fixed;
    z-index: 100;
}
  .story-wrapper {
    flex-wrap: wrap;
  }
  .story-left-text, .story-right-text{
    width: 80%;
    text-wrap: wrap;
    text-align: center;
    right: 0;
    left: 0;
  }
  .story-right,.story-left {
    width: 80%;
    position: relative;
    right: 0;
    left: 0;
}
.story-wrapper {
  justify-content: center;
  max-width: 100% !important;
}
.story-left img {
  width: 750px;
}
.story-right img {
  width: 725px !important;
}
.card {
  top: 80px;
}
.left{
  position: absolute;
  left: 0;
  top: 0;
  width: 90%;
  height: 100%;
  z-index: 19;
  display:flex;
  justify-content: center;
  align-items: center;
}
.right{
  position: absolute;
  left: 50px;
  top: 0;
  width: 90%;
  height: 100%;
  background-color: white;
  margin: 0;
  z-index: 9;
}
.card > .left {
  opacity: 1;
  -webkit-transition: opacity 500ms ease-in-out;
  -moz-transition: opacity 500ms ease-in-out;
  -ms-transition: opacity 500ms ease-in-out;
  -o-transition: opacity 500ms ease-in-out;
  transition: opacity 500ms ease-in-out;
}

.card > .right {
  opacity: 0;
  -webkit-transition: opacity 500ms ease-in-out;
  -moz-transition: opacity 500ms ease-in-out;
  -ms-transition: opacity 500ms ease-in-out;
  -o-transition: opacity 500ms ease-in-out;
  transition: opacity 500ms ease-in-out;
}

.card:hover > .left {
  opacity: 0;
}

.card:hover > .right {
  opacity: 1;
}

.contact-card {
  padding: 37px;
}
.certifications {
  display: inline-flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  left: 88%;
  align-content: center;
  flex-direction: row;
  width: 100%;
  padding: 10px;
}

.wrapper {
  margin-top: 100px;
  max-width: 74%;
  margin: 0 auto;
}
}

/*Mobile Media Query*/
@media screen and (max-width: 360px){
  .nav-list {
    display: none;
  }
  #hamburger-menu{
    display: block;
    left: 23px;
    top: 28px;
    margin: 10px;
    position: fixed;
    z-index: 100;
}
h2 {
  font-size: 35px;
}

strong {
  font-size: 20px;
}

.story, .products, .stockist, .contact {
  font-size: 14px;
}

.story-right img {
  width: 260px !important;
  height: auto;
}

.story-left img {
  width: 280px;
  height: auto;
}

#coles img {
  height: 100px !important;
}
.logo img {
  width: 215px;
  height: auto;
}

#name, #email, #reason, #message {
  width: 250px;
}

.card {
  width: 80%;
}

.border {
  height: 100px;
}
.story-right, .story-left {
  width: 90%;
}

.card h2 {
  text-transform: none !important;
  font-size: 25px;
}

.right {
  width: 90%;
  left: 20px;
  font-size: 12px;
}

.left {
  width: 80%;
}
table {
  width: 88%;
  font-size: 12px;
}
.mobile-table{
  display: block;
}
.standard-table{
  display: none;
}

td{
  width:50%;
}
}
